<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>

<div th:fragment="siteHeader">

    <header class="app-header sticky-top">
        <nav class="navbar navbar-expand py-2">
            <div class="container-fluid d-flex align-items-center gap-3">

                <!-- Логотип -->
                <a class="navbar-brand d-flex align-items-center gap-2 m-0" th:href="@{/}">
                    <img class="brand-logo" th:src="@{/static/img/icons/logo.png}" alt="Логотип">
                    <span class="d-none d-md-inline">OnlineShopping</span>
                </a>

                <!-- Кнопка открытия каталога товаров (Offcanvas) -->
                <button class="btn btn-catalog" type="button"
                        data-bs-toggle="offcanvas"
                        data-bs-target="#catalogOffcanvas"
                        aria-controls="catalogOffcanvas"
                        aria-label="Каталог товаров">
                    <img class="nav-icon" th:src="@{/static/img/icons/menu.png}" alt="Каталог">
                </button>

                <!-- Поиск -->
                <form class="search-form d-flex flex-grow-1" role="search" th:action="@{/search}" method="get">
                    <input class="form-control" type="search" name="keyword" th:value="${keyword}" placeholder="Найти товар">
                    <button class="btn" type="submit">
                        <img class="search-icon" th:src="@{/static/img/icons/search.png}" alt="Найти">
                    </button>
                </form>

                <!-- Иконки -->
                <div class="d-flex align-items-center gap-4">

                    <!-- Покупки (BUYER + SELLER) -->
                    <th:block th:if="${user != null and (user.role.name() == 'BUYER' or user.role.name() == 'SELLER')}">
                        <a class="nav-icon-link text-center" th:href="@{/purchases}">
                            <img class="nav-icon d-block mx-auto" th:src="@{/static/img/icons/order.png}" alt="Покупки">
                            <span>Покупки</span>
                        </a>
                    </th:block>

                    <!-- Избранное (BUYER + SELLER) -->
                    <th:block th:if="${user != null and (user.role.name() == 'BUYER' or user.role.name() == 'SELLER')}">
                        <a class="nav-icon-link text-center" th:href="@{/favorites}">
                            <img class="nav-icon d-block mx-auto" th:src="@{/static/img/icons/favouritesIcon.png}" alt="Избранное">
                            <span>Избранное</span>
                        </a>
                    </th:block>

                    <!-- Заменили href на открытие модального окна -->
                    <th:block th:if="${user != null and user.role.name() == 'BUYER'}">
                        <a class="nav-icon-link text-center" href="#" role="button"
                           data-bs-toggle="modal"
                           data-bs-target="#becomeSellerModal">
                            <img class="nav-icon d-block mx-auto" th:src="@{/static/img/icons/becomeSeller.png}" alt="Стать продавцом">
                            <span>Стать продавцом</span>
                        </a>
                    </th:block>

                    <!-- Профиль -->
                    <div class="dropdown">
                        <a class="nav-icon-link text-center d-block" href="#" role="button"
                           id="profileDropdown"
                           data-bs-toggle="dropdown"
                           data-bs-auto-close="outside">
                            <img class="nav-icon d-block mx-auto" th:src="@{/static/img/icons/user.png}" alt="Профиль">
                            <span>Профиль</span>
                        </a>

                        <div class="dropdown-menu dropdown-menu-end dropdown-profile p-3">

                            <!-- Гость -->
                            <th:block th:if="${user == null}">
                                <a class="btn btn-link w-100 fs-5 text-decoration-none" th:href="@{/login}">
                                    Войти
                                </a>
                            </th:block>

                            <!-- Покупатель -->
                            <th:block th:if="${user != null and user.role.name() == 'BUYER'}">
                                <a class="btn btn-link w-100 fs-5 text-decoration-none" th:href="@{/logout}">Выйти</a>
                                <a class="btn btn-link w-100 fs-5 text-decoration-none text-danger border-top mt-2 pt-2" th:href="@{/deleteAccount}">Удалить аккаунт</a>
                            </th:block>

                            <!-- Продавец -->
                            <th:block th:if="${user != null and user.role.name() == 'SELLER'}">
                                <a class="btn btn-link w-100 fs-5 text-decoration-none" th:href="@{/sellerPage/{id}(id=${user.id})}">
                                    О продавце
                                </a>
                                <a class="btn btn-link w-100 fs-5 text-decoration-none" th:href="@{/logout}">Выйти</a>
                                <a class="btn btn-link w-100 fs-5 text-decoration-none text-danger border-top mt-2 pt-2" th:href="@{/deleteAccount}">Удалить аккаунт</a>
                            </th:block>

                            <!-- Админ -->
                            <th:block th:if="${user != null and user.role.name() == 'ADMIN'}">
                                <a class="btn btn-link w-100 fs-5 text-decoration-none" th:href="@{/logout}">Выйти</a>
                            </th:block>

                        </div>
                    </div>

                    <!-- Создание карточки (SELLER) -->
                    <th:block th:if="${user != null and user.role.name() == 'SELLER'}">
                        <a class="nav-icon-link text-center" th:href="@{/new-card}">
                            <img class="nav-icon d-block mx-auto" th:src="@{/static/img/icons/add.png}" alt="Карточка">
                            <span>Карточка</span>
                        </a>
                    </th:block>

                    <!-- Создание категорий (Администратор) -->
                    <th:block th:if="${user != null and user.role.name() == 'ADMIN'}">
                        <a class="nav-icon-link text-center" th:href="@{/}">
                            <img class="nav-icon d-block mx-auto" th:src="@{/static/img/icons/add.png}" alt="Категории">
                            <span>Категории</span>
                        </a>
                    </th:block>

                </div>
            </div>
        </nav>
    </header>

    <!-- Каталог Offcanvas -->
    <div class="offcanvas offcanvas-start offcanvas-catalog" tabindex="-1" id="catalogOffcanvas">
        <div class="offcanvas-header">
            <h5 class="offcanvas-title">Каталог товаров</h5>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas"></button>
        </div>

        <div class="offcanvas-body">
            <ul class="list-group">
                <li class="list-group-item"
                    th:each="cat : ${categories}"
                    th:text="${cat.name}">
                </li>
            </ul>
        </div>
    </div>

    <!-- Модальное окно подтверждения перехода в продавцы -->
    <div class="modal fade" id="becomeSellerModal" tabindex="-1" aria-labelledby="becomeSellerModalLabel" aria-hidden="true"
         th:if="${user != null and user.role.name() == 'BUYER'}">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">

                <div class="modal-header">
                    <h5 class="modal-title" id="becomeSellerModalLabel">Подтверждение перехода</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
                </div>

                <div class="modal-body text-start">
                    Вы уверены, что хотите стать продавцом? Ваш профиль перейдет в режим продаж.
                </div>

                <div class="modal-footer">
                <form th:action="@{/profile/become-seller/{id}(id=${user.id})}" method="post">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отмена</button>
                    <button type="submit" class="btn btn-success">Подтвердить</button>
                </form>
            </div>

            </div>
        </div>
    </div>

</div>

</body>
</html>