<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>

<!-- Шапка приложения + выпадающее меню каталога + модальное окно авторизации -->
<div th:fragment="siteHeader">

    <header class="app-header sticky-top">
        <nav class="navbar navbar-expand py-2">
            <div class="container-fluid d-flex align-items-center gap-3">

                <!-- Логотип и название -->
                <a class="navbar-brand d-flex align-items-center gap-2 m-0" th:href="@{/}">
                    <img class="brand-logo" th:src="@{/static/img/icons/logo.png}" alt="Логотип">
                    <span class="d-none d-md-inline">OnlineShopping</span>
                </a>

                <!-- Кнопка открытия каталога товаров (Offcanvas) -->
                <button class="btn btn-catalog" type="button"
                        data-bs-toggle="offcanvas"
                        data-bs-target="#catalogOffcanvas"
                        aria-controls="catalogOffcanvas"
                        aria-label="Каталог товаров">
                    <img class="nav-icon" th:src="@{/static/img/icons/menu.png}" alt="Каталог">
                </button>

                <!-- Поиск по названию товара -->
                <form class="search-form d-flex flex-grow-1" role="search" th:action="@{/}" method="get">
                    <input class="form-control" type="search" name="query"
                           placeholder="Найти товар" aria-label="Найти товар">
                    <button class="btn" type="submit" aria-label="Найти">
                        <img class="search-icon" th:src="@{/static/img/icons/search.png}" alt="Найти">
                    </button>
                </form>

                <!-- Иконки навигации -->
                <div class="d-flex align-items-center gap-4">

                    <a class="nav-icon-link text-center" th:href="@{/purchases}">
                        <img class="nav-icon d-block mx-auto" th:src="@{/static/img/icons/order.png}" alt="Покупки">
                        <span>Покупки</span>
                    </a>

                    <a class="nav-icon-link text-center" th:href="@{/favorites}">
                        <img class="nav-icon d-block mx-auto" th:src="@{/static/img/icons/favouritesIcon.png}" alt="Избранное">
                        <span>Избранное</span>
                    </a>

                    <!-- Профиль: выпадающее окно -->
                    <div class="dropdown">
                        <a class="nav-icon-link text-center d-block" href="#" role="button"
                           id="profileDropdown"
                           data-bs-toggle="dropdown"
                           data-bs-auto-close="outside"
                           aria-expanded="false">
                            <img class="nav-icon d-block mx-auto" th:src="@{/static/img/icons/user.png}" alt="Профиль">
                            <span>Профиль</span>
                        </a>

                        <div class="dropdown-menu dropdown-menu-end dropdown-profile p-3"
                             aria-labelledby="profileDropdown">

                            <!-- Тут будут пункты меню профиля в зависимости от роли
                                 (О продавце / Выйти / Удалить профиль) -->
                            <div class="w-100">
                                <button class="btn btn-link w-100 fs-5 text-decoration-none" type="button"
                                        data-bs-toggle="modal" data-bs-target="#loginModal">
                                    Войти
                                </button>
                            </div>
                        </div>
                    </div>

                    <!-- Тут будет иконка создания карточки товара (только для роли «Продавец») -->
                    <div class="d-none"></div>
                </div>
            </div>
        </nav>
    </header>

    <!-- Выпадающее окно (Offcanvas): каталог товаров -->
    <div class="offcanvas offcanvas-start offcanvas-catalog" tabindex="-1"
         id="catalogOffcanvas" aria-labelledby="catalogOffcanvasLabel">
        <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="catalogOffcanvasLabel">Каталог товаров</h5>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Закрыть"></button>
        </div>
        <div class="offcanvas-body">
            <!-- Тут будет список разделов каталога (компьютеры, телефоны, телевизоры, книги и т.п.) -->
            <div class="placeholder-box w-100"></div>
        </div>
    </div>

    <!-- Модальное окно авторизации -->
    <div class="modal fade" id="loginModal" tabindex="-1" aria-labelledby="loginModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="loginModalLabel">Авторизация</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
                </div>
                <div class="modal-body">
                    <!-- Тут будет форма авторизации (email, пароль, кнопки Log in / Sign in) -->
                    <div class="placeholder-box w-100"></div>
                </div>
            </div>
        </div>
    </div>

</div>

</body>
</html>
