<!DOCTYPE html>
<html lang="en">
<body>
<div th:fragment="productCard(productCard)">
    <!--/*@thymesVar id="productCard" type="by.tms.ecommerceprojectc41onl.dto.ProductCardDto"*/-->
    <div class="card" style="width: 18rem;" th:object="${productCard}">

        <div th:if="${productCard.photoId != null}">
            <img class="card-img-top" th:src="@{/files/${productCard.photoId}}" alt="">
        </div>
        <div th:if="${productCard.photoId == null}">
            <img class="card-img-top" th:src="" alt="">
        </div>
        <div class="card-body">
            <h5 class="card-title mb-3 text-center" th:text="${productCard.name}"></h5>
            <div class="d-flex justify-content-center mb-3">
                <ul class="list-group list-group-horizontal">
                    <li class="list-group-item border-0" th:text="${productCard.price}"></li>
                    <li class="list-group-item border-0">
                        <button class="btn btn-primary d-none" type="button">
                            <img th:src="${productCard.favourite} ? '/static/img/icons/heart-red.png' : '/static/img/icons/heart-love.png'"
                                 alt="">
                        </button>
                    </li>
                    <li class="list-group-item border-0" th:text="${productCard.score}"></li>
                </ul>
            </div>
            <div class="text-center">
                <button type="submit" class="btn btn-primary"
                        style="background-color: var(--brand-blue)">Купить
                </button>
            </div>
        </div>
    </div>
</div>
</body>
</html>